

body{
    background: black;
}

h1{
    color: orangered;
    border-left: solid rgba(2, 205, 241, 0.633);
border-right: solid rgba(2, 205, 241, 0.633);
border-top: double rgba(2, 205, 241, 0.633) 10px;
border-radius: 20px;
text-align: center;
width: 20%;
margin: auto;
font-family: fantasy;
}

table{
width: 100% ;height: 200px;
border-spacing: 5px;



}

th{
    background: rgb(0, 242, 255);
    border: solid rgba(16, 80, 72, 0.426);
    border-radius: 50px;
    font-style: italic;text-transform: uppercase; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th:hover{
    background: rgb(0, 187, 255);

}

td{
    background: rgb(0, 187, 255) ;
height: 60px;
    border-radius: 10px;
    text-align: center;
    border: solid rgba(16, 80, 72, 0.426);
}
td:hover{
    background: rgb(0, 242, 255);
}

::selection{
color: rgb(255, 51, 0);


}



.y1{
color: white;
font-style: italic;
font-size: larger;
font-family: cursive;


}


.y2{
    color: white;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
}


.y3{
    color: white;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
}


.y4{
    color: white;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
}

.y5{
    color: white;
    font-style: italic;
    font-size: larger;
    font-family: cursive;
}

pre{
    border: double red 10px ;
    border-radius: 0px 20px;
    width: fit-content;


}

p{


text-align: center;
margin: auto;


}

p::selection{
    color: rgb(255, 187, 0);

}

img{
    padding: 50px;
    position: relative;
left:550px;
border-radius: 0px 80px;

}



h4{
    color: rgb(137, 241, 2);
border-left: solid 5px rgb(137, 241, 2);
border-bottom:  double 5px rgb(137, 241, 2) ;
border-right: solid 5px rgb(137, 241, 2); ;

border-radius: 30px;
text-align: center;
margin: auto;
width: fit-content;
}

